{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Изменение поста "{{ post['title'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Название</label>
        <input type="text" name="title" placeholder="Название"
               class="form-control"
               value="{{ request.form['title'] or post['title'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="content">Содержание</label>
        <textarea name="content" placeholder="Содержание"
                  class="form-control">{{ request.form['content'] or post['content'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="auctor">Автор</label>
        <textarea name="auctor" placeholder="Автор"
                  class="form-control">{{ request.form['auctor'] or post['auctor'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn-success">Изменить</button>
    </div>
</form>
<hr>
<form action="{{ url_for('delete', id=post['id']) }}" method="POST">
    <input type="submit" value="Удалить пост"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Вы точно хотите удалить пост? ')">
</form>
{% endblock %}

